:root{
    --cor1: #07AADB;
    --cor2: #0724DB;
    --cor3: #0767DB;
    --cor4: #07DBC8;
    --cor5: #508FDB;
}

        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background-color: var(--cor1);
            margin: 0px;            
        }
        header{
            background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
            padding: 30px;
        }
        header h1{
            color: var(--cor4);
            text-align: center;
            font-size: 3em;
        }
        
        nav{
            background-color: var(--cor2);
            padding: 0px 8px 10px 0px;
        }
        
        nav > a{
            color: var(--cor4);
            text-decoration: none;
            font-weight: bold;
            margin: 10px; 
        }
        nav > a:hover{
            background-color: var(--cor1);
            color: var(--cor2);
            text-decoration: underline;
            padding: 8px;
            animation-duration: 1s;
        }
        main{
            background-color: white;
            padding: 10px;
            border-radius: 0px 0px 10px 10px;
            min-width: 320px;
            max-width: 800px;
            margin: auto;
            margin-bottom: 30px;
        }
        main h1{
            color: var(--cor2);
            font-size: 2em;
        }     
        main h2{
            background-image: linear-gradient(to right, var(--cor1), transparent);
            color: var(--cor2);
            font-size: 1.5em;
            margin: 20px;
            padding: 3px;
        }

        main p{
            text-align: justify;
            text-indent: 1.5em;
            margin: 10px;
        }    
        img{
            width: 100%;
        }    
        footer{
            background-color: var(--cor2);
            color: white;
            padding: 4px;      
        }
        footer p{
            color: white;
            text-align: center;
        }
        footer a{
            color: white;
            text-decoration: none;
        }
        footer a:hover{
            text-decoration: underline;
        }